recursive-include dozer/media *
recursive-include dozer/templates *
include README.rst
include CHANGELOG.rst
include LICENSE
include Makefile
include tox.ini
include .coveragerc
include .travis.yml
include .gitignore

# added by check_manifest.py
include *.yml

# added by check_manifest.py
include *.mk

# added by check_manifest.py
include pytest.ini
